@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    margin-top: 60px;
    width: 100%;
}

.card-top {
    grid-area: 1 / 1 / 2 / 6;
}

.card-left {
    grid-area: 2 / 1 / 3 / 3;
}

.card-right {
    grid-area: 2 / 3 / 3 / 5;
}

.card {
    background-color: white;
    margin-bottom: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.profilepic {
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #111;
    margin-top: 20px;
}

.profilepic:hover .profilepic__content {
    opacity: 1;
}

.profilepic:hover .profilepic__image {
    opacity: .5;
}

.profilepic__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.profilepic__icon {
    color: white;
    padding-bottom: 8px;
}

.fas {
    font-size: 20px;
}

.profilepic__text {
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    text-align: center;
}

.submit-info-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #abd1c6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    padding: 5px 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
}

.submit-info-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.submit-info-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.submit-info-button:hover span {
    padding-right: 25px;
}

.submit-info-button:hover span:after {
    opacity: 1;
    right: 0;
}

.user-info-input {
    border-radius: 10px;
    height: 30px;
    padding: 0 20px 0;
    font-size: 1em;
    margin-right: 10px;
    border: none;
    background-color: #e7e7e7;
}

.user-data {
    display: flex;
    margin: 20px 20px;
}

.body-blackout {
    position: absolute;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 2500rem;
    background-color: rgba(0, 0, 0, .65);
    display: none;
}
.body-blackout.is-blacked-out {
    display: block;
}
.popup-trigger {
    display: inline-block;
}
.popup-modal {
    height: 35vh;
    width: 50%;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.popup-modal::-webkit-scrollbar {
    display: none;
}

.popup-modal.is--visible {
    opacity: 1;
    pointer-events: auto;
}
.popup-modal__close {
    position: absolute;
    font-size: 1.2rem;
    right: -10px;
    top: -10px;
    cursor: pointer;
    border-radius: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
}

@media only screen and (max-width: 1300px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
