@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
}

.parent {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    width: 100%;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-top {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 90%;
}

.card-left {
    grid-column: 2;
    width: 90%;
}

.card-right {
    grid-column: 2;
    width: 90%;
}

.card {
    background-color: white;
    margin-bottom: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.profilepic {
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #111;
    margin-bottom: 20px;
}

.profilepic:hover .profilepic__content {
    opacity: 1;
}

.profilepic:hover .profilepic__image {
    opacity: 0.5;
}

.profilepic__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.profilepic__icon {
    color: white;
    padding-bottom: 8px;
}

.fas {
    font-size: 20px;
}

.profilepic__text {
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    text-align: center;
}

.submit-info-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #abd1c6;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    padding: 5px 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
}

.submit-info-button:hover {
    background-color: #f9bc60;
    transition: all 200ms;
}

.user-info-input {
    border-radius: 10px;
    height: 30px;
    padding: 5px 10px;
    font-size: 1em;
    margin-right: 10px;
    border: none;
    background-color: #e7e7e7;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
}

.user-info-input:hover {
    transform: scale(1.025);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    transition: all 200ms ease-in-out;
}

.user-info-input:focus {
    outline: none;
    border: none;
    transform: scale(1.025);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    background-color:rgb(254, 238, 203)
}

.user-data {
    display: flex;
    margin: 20px 20px;
}

.body-blackout {
    position: absolute;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}

.body-blackout.is-blacked-out {
    display: block;
}

.popup-trigger {
    display: inline-block;
}

.popup-modal {
    height: 35vh;
    width: 50%;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.popup-modal::-webkit-scrollbar {
    display: none;
}

.popup-modal.is--visible {
    opacity: 1;
    pointer-events: auto;
}

.popup-modal__close {
    position: absolute;
    font-size: 1.2rem;
    right: -10px;
    top: -10px;
    cursor: pointer;
    border-radius: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
}

.news-sources-item {
    padding: 10px;
    border-radius: 10px;
    background-color: #abd1c6;
    transition: all 300ms;
    margin: 10px;
    width: 80%;

    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-is-selected {
    background-color: #f9bc60;
    transition: all 300ms;
}

@media only screen and (max-width: 1300px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.is-unselectable {
    user-select: none;
    font-size: 20px;
    font-weight: 600;
}

.divider {
    border: 1px solid lightgray;
    width: 75%;
    margin-top: -10px;
    border-radius: 10px;
    fill: lightgray;
}