@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
}

.parent {
    height: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    width: 100%;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 40px;
}

.card-top {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 90%;
}

.card-left {
    grid-column: 2;
    width: 90%;
}

.card-right {
    grid-column: 2;
    width: 90%;
}

.card {
    background-color: white;
    margin-bottom: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.submit-info-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #abd1c6;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    padding: 5px 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
}

.submit-info-button:hover {
    background-color: #f9bc60;
    transition: all 200ms;
}

.user-info-input {
    border-radius: 10px;
    height: 30px;
    padding: 5px 10px;
    font-size: 1em;
    margin-right: 10px;
    border: none;
    background-color: #e7e7e7;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
}

.user-info-input:hover {
    transform: scale(1.025);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    transition: all 200ms ease-in-out;
}

.user-info-input:focus {
    outline: none;
    border: none;
    transform: scale(1.025);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    background-color:rgb(254, 238, 203)
}

.user-data {
    display: flex;
    margin: 20px 20px;
}

.news-preference {
    width: 30%;
    padding: 20px;
}

.item-is-selected {
    border: 1px solid black !important;
    padding: 17px !important;
    border-style: inset;
    color: #566473;
    background-color: #abd1c6 !important;
    transition: background-color 400ms ease-in-out;
}

@media only screen and (max-width: 1300px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.is-unselectable {
    user-select: none;
    font-size: 16px;
    font-weight: 500;
}

.divider {
    border: 1px solid lightgray;
    width: 75%;
    margin-top: -10px;
    border-radius: 10px;
    fill: lightgray;
}