@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 800");


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow-x: hidden;
}

.slider {
    position: relative;
    overflow: hidden;
    /*margin-top: 50px;*/
    margin: 70px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.slider .slide {
    position: absolute;
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.slider .slide.active {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 100%;
    animation: slideIn 200ms ease-in-out forwards;
}

@-webkit-keyframes slideIn {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes slideIn {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideIn {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.slider .slide img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slider .slide .info {
    position: relative;
    background: linear-gradient(0deg, black , transparent);
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
}

.slider .slide .info a {
    all: unset;
    cursor: pointer;
    font-weight: 600;
    font-size: 16pt;
    padding: 10px;
}

.slider .slide .info h2 {
    font-size: 4em;
    font-weight: 800;
    padding-bottom: 2%;
}

.slider .slide .info .p {
    font-size: 2em;
    font-weight: 400;
}

.navigation {
    justify-content: space-between;
    align-items: center;
    display: flex;
    transition: opacity 0.5s ease;
    opacity: 0;
    height: 100%;
    padding: 2%;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn, .next-btn {
    font-size: 2em;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 1500px), (max-height: 1300px) {
    .slider {
        width: 100%;
        height: 90vh;
    }

    .slider .slide .info {
        padding: 10px 10px 2%;
    }

    .slider .slide .info h2 {
        font-size: 1em;
        font-weight: 800;
        padding-bottom: 1%;
    }

    .slider .slide .info .p {
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 1400px), (max-height: 1100px) {
    .slider {
        width: 100%;
        height: 90vh;
    }

    .slider .slide .info {
        padding: 10px 10px 3%;
    }

    .slider .slide .info h2 {
        font-size: 2em;
        font-weight: 800;
        padding-bottom: 2%;
    }

    .slider .slide .info .p {
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 500px), (max-height: 800px) {
    .slider {
        width: 100%;
        height: 90vh;
    }

    .slider .slide .info {
        padding: 10px 10px 2%;
    }

    .slider .slide .info h2 {
        font-size: 1em;
        font-weight: 800;
        padding-bottom: 1%;
    }

    .slider .slide .info .p {
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 500px), (max-height: 650px) {
    .slider {
        width: 100%;
        height: 90vh;
    }

    .slider .slide .info {
        padding: 10px 10px 2%;
    }

    .slider .slide .info h2 {
        font-size: 1em;
        font-weight: 800;
        padding-bottom: 1%;
    }

    .slider .slide .info .p {
        font-size: 1em;
        font-weight: 400;
    }
}

