*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 100vh;
}

.slider{
    position: relative;
    background: black;
    overflow: hidden;
    width: 95%;
    height: 95%;
    margin: 20px;
    border-radius: 10px;
}

.slider .slide{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0%;
}

.slider .slide.active{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 100%;
    transition: 1.4s
}

.slider .slide img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slider .slide .info{
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    padding: 20px;
    padding-bottom: 6%;
    bottom: 0;
}

.slider .slide .info h2{
    font-size: 4em;
    font-weight: 800;
    padding-bottom: 2%;
}

.slider .slide .info .p{
    font-size: 2em;
    font-weight: 400;
}

.navigation{
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    transition: opacity 0.5s ease;
    opacity: 0;
    height: 100%;
    padding: 2%;
}

.slider:hover .navigation{
    opacity: 1;
}

.prev-btn, .next-btn{
    font-size: 2em;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .slider {
        width: 100%;
    }

    .slider .slide .info {
        padding: 10px;
        padding-bottom: 3%;
    }

    .slider .slide .info h2{
        font-size: 2em;
        font-weight: 800;
        padding-bottom: 2%;
    }
    
    .slider .slide .info .p{
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 500px), (max-height:500px) {
    .slider {
        width: 100%;
    }

    .slider .slide .info {
        padding: 10px;
        padding-bottom: 2%;
    }

    .slider .slide .info h2{
        font-size: 1em;
        font-weight: 800;
        padding-bottom: 1%;
    }
    
    .slider .slide .info .p{
        font-size: 1em;
        font-weight: 400;
    }
}

