* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}



.slider{
    position: relative;
    background-color: #ebfffe;
    overflow: hidden;
    width: 2300px;
    height: 1100px;
    margin: 20px;
    border-radius: 10px;
}

.slider .slide{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0%;
}

.slider .slide.active{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 100%;
    transition: 1.4s
}

.slider .slide img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slider .slide .info{
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    padding: 20px;
    padding-bottom: 6%;
    bottom: 0;
}

.slider .slide .info h2{
    font-size: 4em;
    font-weight: 800;
    padding-bottom: 2%;
}

.slider .slide .info .p{
    font-size: 2em;
    font-weight: 400;
}

.navigation{
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    transition: opacity 0.5s ease;
    opacity: 0;
    height: 100%;
    padding: 2%;
}

.slider:hover .navigation{
    opacity: 1;
}

.prev-btn, .next-btn{
    font-size: 2em;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    cursor: pointer;
}

ul.navbar {
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    overflow: hidden;
    background-color: #004643;
    margin: 0 0 0;
    padding-left: 10px;
    padding-right: 10px;
  }

ul.navbar li {
    float: left;
}

ul.navbar li a {
    color: #dcdcdc;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

ul.navbar li a:after {
    color: white;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f9bc60;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

ul.navbar li a:hover:not(.active):after {
    width: 85%;
    left: 7.5%;
}

ul.navbar li a.active {
    color: white;
    background-color: rgba(249, 188, 96, 0.95);
    border-radius: 10px;
}

ul.navbar li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.navbar li.right,
    ul.navbar li {
        float: none;
        transition: all 400ms;
    }
}

@media (max-width: 1500px), (max-height:1300px) {
    .slider {
        width: 90%;
        height: 1000px;
    }

    .slider .slide .info {
        padding: 10px;
        padding-bottom: 2%;
    }

    .slider .slide .info h2{
        font-size: 1em;
        font-weight: 800;
        padding-bottom: 1%;
    }
    
    .slider .slide .info .p{
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 1400px), (max-height:1100px) {
    .slider {
        width: 90%;
        height: 700px;
    }

    .slider .slide .info {
        padding: 10px;
        padding-bottom: 3%;
    }

    .slider .slide .info h2{
        font-size: 2em;
        font-weight: 800;
        padding-bottom: 2%;
    }
    
    .slider .slide .info .p{
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 500px), (max-height:800px) {
    .slider {
        width: 90%;
        height: 600px;
    }

    .slider .slide .info {
        padding: 10px;
        padding-bottom: 2%;
    }

    .slider .slide .info h2{
        font-size: 1em;
        font-weight: 800;
        padding-bottom: 1%;
    }
    
    .slider .slide .info .p{
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 500px), (max-height:650px) {
    .slider {
        width: 90%;
        height: 400px;
    }

    .slider .slide .info {
        padding: 10px;
        padding-bottom: 2%;
    }

    .slider .slide .info h2{
        font-size: 1em;
        font-weight: 800;
        padding-bottom: 1%;
    }
    
    .slider .slide .info .p{
        font-size: 1em;
        font-weight: 400;
    }
}

