@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 800");

html {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.card {
    padding: 10px;
}

.card p {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 600;
}

.card button {
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
}

.card button:hover {
    background: #fcac36;
    transform: scale(1.075);
    transition: 200ms;
}

.card {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    height: 5%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: row;
}

.card-pie {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    height: 5%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-line {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    height: 5%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-bar {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    height: 5%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    align-content: center;
}

.card-pie > p {
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
}

.card-line > p {
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
}