a {
    color: #fff;
}

.header {
    background-color: #004643;
    box-shadow: 1px 5px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    margin-top: -6px;
    z-index: 3;
    transition: all 250ms ease-in-out;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #004643;
}

.header li > a {
    color: #dcdcdc;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 20px 20px;
    position: relative;
}

.header li > a:after {
    color: white;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f9bc60;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header li > a:hover:after{
    /*background-color: #f4f4f4;*/
    width: 85%;
    left: 7.5%;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}


.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}


.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}



.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

.hideNavbar {
    opacity: 0;
    transform: translateY(0);
    transition: all 250ms ease-in-out;
}
