@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
}

.actors {
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.actors > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
}

.actors > ul > li {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}

.actors > ul > li > figure {
    margin-top: 0;
    width: 100%;
    max-height: 450px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.actors > ul > li > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 30%;
}

.actors > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background: rgb(0, 33, 4);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
}

.actors > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.actors > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 15px;
    color: #666666;
}

.actors > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
}

.is-pulled-left {
    align-self: flex-start;
    margin-left: 25px;
}

.is-pulled-right {
    float: right;
}

.crop {
    object-position: center center;
}

.body-blackout {
    position: absolute;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 2500rem;
    background-color: rgba(0, 0, 0, .65);
    display: none;
}
.body-blackout.is-blacked-out {
    display: block;
}
.popup-trigger {
    display: inline-block;
}
.popup-modal {
    height: 75vh;
    width: 75%;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.popup-modal::-webkit-scrollbar {
    display: none;
}

.popup-modal.is--visible {
    opacity: 1;
    pointer-events: auto;
}
.popup-modal__close {
    position: absolute;
    font-size: 1.2rem;
    right: -10px;
    top: -10px;
    cursor: pointer;
    border-radius: 10px;
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}

.close-button {
    height: 40px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 100%;
    background-color: #0080b3;
    font-style: normal;
    font-weight: 600;
}

.scrollToTopBtn {
    background-color: #004643;
    padding: 5px;
    box-shadow: 0 2px 4px darkslategrey;
    transition: all 0.2s ease;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px)
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

.scrollToTopBtn:hover {
    background-color: green;
    box-shadow: 0 0 3px darkslategray;
    transform: translateY(2px);
}

.scrollToTopBtn:not(:first-child) {
    margin-top: 10px;
}
